<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>修改密码</key>
	<string>img_change_password</string>
	<key>修改手机号</key>
	<string>img_change_tel</string>
	<key>清空记录</key>
	<string>img_clear_record</string>
	<key>更新版本</key>
	<string>img_update</string>
	<key>意见反馈</key>
	<string>img_feed_back</string>
	<key>关于我们</key>
	<string>img_about_us</string>
	<key>退出</key>
	<string>img_logout</string>
</dict>
</plist>
